@mixin button($bgColor, $color, $bgColorHover, $colorHover) {
    background-color: $bgColor;
    color: $color;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 20px;

    &:hover {
        background-color: $bgColorHover;
        color: $colorHover;
    }
}

@mixin navHover($colorHover) {

    &:hover {
        color: $colorHover;
        box-shadow: 0 1.5px 0 $colorHover;
        cursor: pointer;
    }
}

@mixin imgHover($colorHover, $height) {

    position: relative;
    width: 100%;
    aspect-ratio: $height;

    img {
        object-fit: cover;
    }

    &:hover img {
        position: absolute;
        z-index: 1;
    }

    &:hover .filter_img {
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        box-shadow: 0px -200px 400px -200px rgba($colorHover, 1) inset;
    }

}