* {
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

button:focus,
input:focus {
    box-shadow: 0 0 0 0.25rem #f8c9af !important;
}