$color-Tundora: #424242;
$color-Gunsmoke: #858786;
$color-Ecstasy: #f76210;
$color-Golden-Dream: #efd43f;
$color-Magic-Mint: #95f1be;
$color-Turquoise: #30cfc3;
$color-Persian-Blue: #223bcb;
$color-Lima: #78e733;
$color-Gray-Nurse: #e3e4e2;
$color-Shark: #1b1c1d;
$color-Spicy-Mix: #875f4a;
$color-Sundace: #c8af56;
$color-Puerto-Rico: #38c3a0;
$color-Tango: #eb621f;
$color-Flax-Smoke: #7e876a;
$color-Cerulean-Blue: #2455b0;
$color-Nandor: #495653;
$color-Starship: #ece046;
$color-Ecstasy-Op: #f8c9af;